/*Declare how the page will display with different screen size. limiting size and number of column.
/*start mobile*/
@media only screen and (max-device-width: 600px) {
  #about_body {
    padding: 0px 10% 0px 10%;
  }

  /*about style*/
  .column {
    width: 100%;
    padding: 4%
  }
  #logo_img{
    height: 25px;
    width: 25px;
    align-self: center;
    padding: 10px 50px 10px 50px;
  }

  #about_image {
    width: 296px;
    height: 296px;
  }

  .progress {
    height: 8px;
  }

  .progress_bar {
    height: 8px;
  }

  /*    end about style*/
}

/*end phone*/
/*start tablet */
@media only screen and (min-width: 670px) {
  .sectionPadding1 {
    padding: 40px 40px 0 40px
  }

  .sectionMargin1 {
    margin: 40px 40px 0 40px
  }

  .bottomMargin {
    margin-bottom: 40px
  }

  .topMargin {
    margin-top: 40px
  }

  .bottomPadding {
    padding-bottom: 40px
  }

  h1 {
    font-size: 40px;
    font-size: 4.0rem;
    line-height: 4.0rem
  }

  h2 {
    font-size: 20px;
    font-size: 2.0rem
  }

  header {
    width: 100%;
    height: 10%;
  }

  h1 {
    font-family: "Times New Roman", serif;
    font-size: 31px;
    font-weight: lighter;
  }

  h3 {
    font-family: 'Helvetica Nue', sans-serif;
    font-size: 19px;
  }

  h4 {
    font-family: "Times New Roman", serif;
    font-weight: lighter;
    font-size: 19px;
  }

  /*about style*/
  #about_main_content {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }

  #logo_img {
    height: 35px;
    width: 35px;
    align-self: center;
    padding: 0px 50px 0px 50px;
  }

  #about_image {
    width: 296px;
    height: 296px;
  }

  .progress {
    height: 10px;
  }

  .progress_bar {
    height: 10px;
  }
}

/*end tablet*/
/*start desktop*/
@media only screen and (min-width: 800px) {
  h1 {
    font-family: "Times New Roman", serif;
    font-size: 60px;
    font-weight: lighter;
  }

  h3 {
    font-family: 'Helvetica Nue', sans-serif;
    font-size: 24px;
  }

  h4 {
    font-family: "Times New Roman", serif;
    font-weight: lighter;
    font-size: 35px;
  }

  .column {
    width: 45%;
  }

  header {
    height: 2%;
    width: 100%;
  }

  #about_main_content {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }

  #about_image {
    width: 398px;
    height: 398px;
  }

  #logo_img {
    height: 35px;
    width: 35px;
    align-self: center;
    padding: 0px 50px 0px 50px;
  }

  .sub_group_heading {
    font-size: 25px;
  }

  .progress_bar {
    width: 80%;
    height: 20px;
    background-color: #d1d0ce;
  }

  .progress {
    width: 30%;
    height: 20px;
    background-color: #737371;
  }
}

body {
  position: absolute;
  margin: 0;
  color: #ffffff;
}
.content{
  padding: 5%;
}
#about_body {
  background-color: #333332;
}

#portfolio_body {
  background-color: #333332;
}
h1 {
  font-family: "Times New Roman", serif;
  font-weight: lighter;
}

h3 {
  font-family: 'Helvetica Nue', sans-serif;

}

h4 {
  font-family: "Times New Roman", serif;
  font-weight: lighter;
}

a {
  text-decoration: none;
  color: white;
}
p{
  font-family: Helvetica Neue, sans-serif;
  font-size: 21px;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

header h3 {
  font-size: 25px;
  font-weight: lighter;
  align-self: center;
}

.column {
  padding: 9%;
}

#sayHello {
  padding-bottom: 5%;
}

.underline{
  text-decoration: underline;
}
#project_body{
  background-color: #333332;
  padding: 0;
}
#project_header{

}

/*.tile{*/
/*  display: flex;*/
/*  width: 100%;*/

/*}*/
.tile{
  margin: 0 auto;
  padding: 0;
}
.brief{
  display: block;
}
.project_hero{
  max-width: 100%;
  height: 600px;
  overflow: hidden;
}
.hero_image img{
  display: block;
}
.project_detail_hero{
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -1;
  width: 100%;
  height: 600px;
  background: #000;
  overflow: hidden;
}
@media screen and  (min-width: 1000px){
  .project_row{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .hero_image{
    padding: 0;
    width: 50%
  }
  .brief{

  }
}
.title{
  position: absolute;
  text-align: center;
  -webkit-transform: translate(50%, 50%);
  -moz-transform: translate(50%, 50%);
  -ms-transform: translate(50%, 50%);
  -o-transform: translate(50%, 50%);
  transform: translate(50%, 50%);
  z-index: 0;
}
.hero_content{
  display: flex;
  align-items: center;
  flex-direction: column;
}
.page_title{
 padding-top: 10%;
  font-size: 80px;
  font-weight: bolder;
}
.exit{
  justify-content: center;
}
.description_title{
  text-align: center;
  font-family: Times New Roman, serif;
  font-size: 40px;
  color: #000002;
  font-weight: lighter;
}
.description_content{
  font-family: Helvetica Heue, sans-serif;
  font-size: 18px;
  color: #000002;
  text-align: left;

}
.bottom_underline{
  align-items: start;
  border-bottom-color: #000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  padding: 0 10% 7% 10%;
}
.bottom{
  align-items: start;
  padding: 0 10% 0 10%;
}
.image_section{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;

}
.image_section_no_space{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: left;
}
.image_column{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
}
.justify_left{
  justify-content: start;
}
.text_column{
  padding: 0 10% 0 10%
}
.img_full{
  max-width: 100%;
  height: auto;
  overflow: hidden;
}
.bottom_padding{
  padding: 0 0 1.5% 0;
}
.img_tall{
  max-width: 98%;
  height: auto;
  padding-left: 2%;
}
.img_half{
  max-width: 50%;
  height: auto;
}
.img_small{
  max-width: 10%;
  height: auto;
}
.img_third{
  width: 30%;
  height: auto;
  max-height: 100%;
  padding: 5% 0 5% 0;
}
.blue_back{
  background-color: #e3f7f7;
  padding:10% 0 10% 0;
}
.img_dy{
  display: block;
  padding: 2px;
}
.padding_tb{
  padding: 5% 0 0 0;
}
/*end project page*/
/*project detail*/
@keyframes fadein {
0%{
  opacity:0;
  background-color: #333332;
}
  100%{
    opacity: 1;
    background-color: #c6c6c6;
  }
}

.brief{
  padding-top: 5%;
}

.off_set_col{
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}
.reverse{
  flex-direction: row-reverse;
}
.third_col{
  display: flex;
  flex-direction: column;
  width:40%;
  height: auto;
}
.two_third{
  display: flex;
  flex-direction: column;
  width: 50%;
  height: auto;
  float: left;
}
.two_col{
  width: 45%;
}
.left{
  text-align: left;
}
.float_left{
  justify-content: flex-start;
}
.fload_right{
  justify-content: right;
}
footer{
  background-color: #333332;
  height: auto;
}
/*end project detail*/
